#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  position: absolute;
  background-color: #3f3f3e;
}

a {
  color: #c0bab9;

  &:hover {
    color: #772a10;
  }
}

h2 {
  font-size: 1.5rem;
  color: #eee9e9;
  margin: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
