#root {
  width: 2000px;
  padding: 2rem;
  text-align: center;
  display: grid;
  place-items: center;
}

body {
  background-image: url("./assets/cultivated.jpeg");
  //background-color: #3f3f3e;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

a {
  color: #c0bab9;

  &:hover {
    color: #772a10;
  }
}

h2 {
  font-size: 1.5rem;
  color: #eee9e9;
  margin: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.coordinate-input {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  max-width: 500px;
  margin: 0 auto;
}

.farm-name {
  margin-left: auto;
}